# 시도지역코드 불러오기

In [2]:
import pandas as pd

In [4]:
# 난 안 났지만 오류가 난 사람들을 위해: vscode, jupyter에서는 여러 개 폴더를 한 번에 처리 못 함. 절대 경로로 넣고 수정할 것!

sido=pd.read_csv('data\시도지역코드.csv',encoding='euc_kr')
sido.head()

   시도지역코드 지역명
0      11  서울
1      26  부산
2      27  대구
3      28  인천
4      29  광주

In [5]:
sido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도지역코드  17 non-null     int64
 1   지역명     17 non-null     object
dtypes: int64(1), object(1)
memory usage: 404.0+ bytes

In [6]:
# 시도지역코드 컬럼이 int64이므로 이런 계산 가능
sido['코드']=sido['시도지역코드']+10
sido.head()

   시도지역코드 지역명  코드
0      11  서울  21
1      26  부산  36
2      27  대구  37
3      28  인천  38
4      29  광주  39

In [7]:
sido=pd.read_csv('data\시도지역코드.csv',encoding='euc_kr')
sido.head()

   시도지역코드 지역명
0      11  서울
1      26  부산
2      27  대구
3      28  인천
4      29  광주

In [8]:
sido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도지역코드  17 non-null     int64
 1   지역명     17 non-null     object
dtypes: int64(1), object(1)
memory usage: 404.0+ bytes

# 시도별 진료 정보 불러오기

In [9]:
# 현재 파일 정보 불러오기
import os

In [11]:
path='data/'
file_list=os.listdir(path)
file_list

['test.csv',
 'test2.csv',
 'train.csv',
 '구주 입국목적별 자료.xlsx',
 '국민건강보험공단_진료건수 정보_20240229',
 '국적별 관광 상용 자료.xlsx',
 '국적별 유학연수 기타 자료.csv',
 '시군구지역코드.csv',
 '시도지역코드.csv',
 '중간기말성적.csv',
 '진료정보_감기_시군구.csv',
 '진료정보_감기_시도.csv',
 '진료정보_눈병_시군구.csv',
 '진료정보_눈병_시도.csv',
 '진료정보_천식_시군구.csv',
 '진료정보_천식_시도.csv',
 '진료정보_피부염_시군구.csv',
 '진료정보_피부염_시도.csv',
 '출석프로젝트성적.csv']

In [13]:
if file_list[11].endswith('_시도.csv'):
    print(file_list[10])

진료정보_감기_시군구.csv

In [14]:
for i in file_list:
    if i.endswith("_시도.csv"):
        print(i)

진료정보_감기_시도.csv
진료정보_눈병_시도.csv
진료정보_천식_시도.csv
진료정보_피부염_시도.csv

In [16]:
df=pd.DataFrame() # 합 구할 때 for 문 전에 초기 값 부여한 것과 같은 맥락
for i in file_list:
    if i.endswith("_시도.csv"):
        data=pd.read_csv(path+i,encoding='euc_kr')
        df=pd.concat([df,data])
df.head()

           날짜  시도지역코드  발생건수(건)
0  2023-10-01    11.0  17218.0
1  2023-10-01    26.0   5699.0
2  2023-10-01    27.0   3590.0
3  2023-10-01    28.0   7524.0
4  2023-10-01    29.0   3044.0

In [18]:
df.shape

(141588, 3)

In [21]:
df=pd.DataFrame()
for i in file_list:
    if i.endswith("_시도.csv"):
        data=pd.read_csv(path+i,encoding='euc_kr')

        # split 메서드 사용해도 되지 않나?
        if '감기' in i:
            data['구분']='감기'
        elif '눈병' in i:
            data['구분']='눈병'
        elif '천식' in i:
            data['구분']='천식'
        else:
            data['구분']='피부염'

        df=pd.concat([df,data])
df.head()

           날짜  시도지역코드  발생건수(건)  구분
0  2023-10-01    11.0  17218.0  감기
1  2023-10-01    26.0   5699.0  감기
2  2023-10-01    27.0   3590.0  감기
3  2023-10-01    28.0   7524.0  감기
4  2023-10-01    29.0   3044.0  감기

In [22]:
df=pd.DataFrame()
keywords=['감기','눈병','천식','피부염']
for i in file_list:
    if i.endswith("_시도.csv"):
        data=pd.read_csv(path+i,encoding='euc_kr')

        # split 메서드 사용해도 되지 않나?
        for key in keywords:
            if key in i:
                data['구분']=key
                break

        df=pd.concat([df,data])
df.head()

           날짜  시도지역코드  발생건수(건)  구분
0  2023-10-01    11.0  17218.0  감기
1  2023-10-01    26.0   5699.0  감기
2  2023-10-01    27.0   3590.0  감기
3  2023-10-01    28.0   7524.0  감기
4  2023-10-01    29.0   3044.0  감기

In [24]:
df.shape

(141588, 4)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 141588 entries, 0 to 35396
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   날짜       10264 non-null   object
 1   시도지역코드   10264 non-null   float64
 2   발생건수(건)  10264 non-null   float64
 3   구분       141588 non-null  object
dtypes: float64(2), object(2)
memory usage: 5.4+ MB

# 시도지역코드의 지역명 표시

In [26]:
df.columns

Index(['날짜', '시도지역코드', '발생건수(건)', '구분'], dtype='object')

In [27]:
sido.columns

Index(['시도지역코드', '지역명'], dtype='object')

In [29]:
data_merge=pd.merge(df,sido,how='left',on='시도지역코드')
data_merge

                날짜  시도지역코드  발생건수(건)   구분  지역명
0       2023-10-01    11.0  17218.0   감기   서울
1       2023-10-01    26.0   5699.0   감기   부산
2       2023-10-01    27.0   3590.0   감기   대구
3       2023-10-01    28.0   7524.0   감기   인천
4       2023-10-01    29.0   3044.0   감기   광주
...            ...     ...      ...  ...  ...
141583         NaN     NaN      NaN  피부염  NaN
141584         NaN     NaN      NaN  피부염  NaN
141585         NaN     NaN      NaN  피부염  NaN
141586         NaN     NaN      NaN  피부염  NaN
141587         NaN     NaN      NaN  피부염  NaN

[141588 rows x 5 columns]